<html>
<head><title>Inicio Sesión</title></head>

<body>
<h1>Iniciar Sesión</h1>
<form name="form1" method="POST" action="{% url 'inicio'%}">
    {% csrf_token %} 
  <p>Usuario 
    <label for="txtNombre"></label>
    <input type="text" name="txtNombre" id="txtNombre">
  </p>
  <p>Contraseña 
    <label for="txtContra"></label>
    <input type="password" name="txtContra" id="txtContra">
  </p>
  <p>
    <input type="submit" name="btnAceptar" id="btnAceptar" value="Enviar">
  </p>
</form>
<p>&nbsp;</p>
</body>
</html>
