<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Entorno de Trabajo</title>
</head>

<body>


<h1>Mesa de Trabajo</h1>
<form name="form2" method="GET	" action="{% url 'salir'%}">
{% csrf_token %} 
  <input type="submit" name="btnCerrar" id="btnCerrar" value="Salir">

</form>
<p>&nbsp;</p>
<form id="form1" name="form1" method="POST" action="{% url 'ejec'%}">
  <p>
    <label for="entrada"><br />
    </label>
  {% csrf_token %} </p>
  <p>
    <textarea name="entrada" cols="150" rows="20" id="entrada"></textarea>
  </p>
  <p>
    <input type="submit" name="btnEnviar" id="btnEnviar" value="Ejecutar">
  </p>
  <p>
    <label for="txtConsola"></label>
    <textarea name="txtConsola" cols="150" rows="10" id="txtConsola"></textarea>
  </p>
</form>

<script>
	
	function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
	
	
	var respuesta = getParameterByName('respuesta');		
	document.getElementById("txtConsola").value=respuesta;
	
</script>
<p>&nbsp;</p>	
</body>
</html>
